<div>
    <h2><strong>Template forms</strong>:</h2>

    <ul class="list-group">
    
        <li 
            *ngFor="let option of templateMenu"
            class="list-group-item"
            [routerLink]="[option.route]"
            routerLinkActive="active"
        >
            {{option.text}}
        </li>
    
    </ul>
</div>

<div>

    <h2><strong>Reactive forms</strong>:</h2>

<ul class="list-group">

    <li 
        *ngFor="let option of reactiveMenu"
        class="list-group-item"
        [routerLink]="[option.route]"
        routerLinkActive="active"
    >
        {{option.text}}
    </li>

</ul>

</div>



