<h2>Selector Anidados de paises:</h2>
<hr>


<div class="row">
    <div class="col">

        <form [formGroup]="formSelectores" (ngSubmit)="guardar()">

            <div class="mb-3 row">
    
                <label class="col-sm-3 col-form-label">Continente:</label>
                <div class="col-sm-9">
                    <select class="form-control" formControlName="continente">
                        <option value="" disabled>!!--Seleccione una opcion--!!</option>
                        <option *ngFor="let optionContinente of continentes ; let i = index" [value]="optionContinente | lowercase">{{optionContinente}}</option>
                    </select>
                </div>
               
    
            </div>
    
            <div class="mb-3 row" *ngIf="paises.length !== 0">
    
                <label class="col-sm-3 col-form-label">Pais:</label>
                <div class="col-sm-9">
                    <select class="form-control" [disabled]="paises.length === 0" formControlName="pais">
                        <option value="">!!--Seleccione una opcion--!!</option>
                        <option *ngFor="let optionPais of paises ; let i = index" [value]="optionPais.cca3">{{optionPais.name.common}} - {{optionPais.cca3}} </option>
                    </select>
                </div>
            
            </div>
    
            <div class="mb-3 row" *ngIf="limitrofes.length !== 0">
                <label class="col-sm-3 col-form-label">Pais Limitrofe:</label>
                <div class="col-sm-9">
                    <select class="form-control"  formControlName="limitrofe">
                        <option value="">!!--Seleccione una opcion--!!</option>
                        <option *ngFor="let optionLimitrofe of limitrofes ; let i = index" [value]="optionLimitrofe">{{optionLimitrofe}} </option>
                    </select>
                </div>
            
            </div>


            <div class="row"*ngIf="cargando">
                <div class="col">
                    <div class="alert alert-primary">Cargando...</div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary float-end">Guardar</button>
                </div>
            </div>
        
    
    </form>

   

</div>




<div class="row pt-3">

    <h3>Formulario</h3>
    <pre>{{formSelectores.valid | json}}</pre>
    

    <h3>Continente</h3>
    <pre>{{formSelectores.controls['continente'].valid | json}}</pre>
    <pre>{{formSelectores.controls['continente'].value | json}}</pre>

    <h3>Pais</h3>
    <pre>{{formSelectores.controls['pais'].valid | json}}</pre>
    <pre>{{formSelectores.controls['pais'].value | json}}</pre>


    <h3>Limitrofe</h3>
    <pre>{{formSelectores.controls['limitrofe'].valid | json}}</pre>
    

</div>
