<h2>Reactive dinamicos:</h2>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" [formGroup]="miFormulario" >

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold">Nombre:</label>
                <div class="col-sm-10">
                    <input
                        type="text"
                        formControlName="nombre"
                        class="form-control" 
                        placeholder="Nombre de la persona"
                    >
                    <span
                        *ngIf="campoEsValido('nombre')"
                        class="form-text text-danger"
                    >
                        El nombre de la persona debe contener almenos de 3 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold">Juego:</label>
                <div class="col-sm-10">


                    <div class="input-group">

                        <input
                            type="text"
                            [formControl]="nuevoFavorito"
                            class="form-control" 
                            placeholder="Nombre del juego"
                            (keyup.enter)="agregarFavorito()"
                        
                        >
                        <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
                        <span 
                            *ngIf="campoEsValido('favoritos')"
                            class="form-text text-danger"
                        >
                            El nombre del juego debe contener almenos de 3 letras
                        </span>

                
                    </div>
                    
                    
                </div>
            </div>

            <div class="mb-3 row" formArrayName="favoritos">
                
                <label class="col-sm-3 col-form-label fw-bold">Favoritos:</label>
                
                <div class="input-group p-2" *ngFor="let favorito of favoritos.controls; let i = index">
                        <input [formControlName]="i" class="form-control">
                        <button class="btn btn-outline-danger" type="button" (click)="borrarFavorito(i)">borrar</button>
                </div>
             
            </div>


            <div class="row">
                <div class="col">
    
                    <button type="button" class="btn btn-primary float-end">Enviar</button>
    
                </div>
            </div>

        </form>

       


    </div>
</div>



