<h2>Template dinamicos:</h2>

<div class="row">
    <div class="col">

        <form (ngSubmit)="guardar()" #miFormularioDinamico="ngForm">

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold">Nombre:</label>
                <div class="col-sm-10">
                    <input
                        type="text"
                        [ngModel] = "persona.nombre"
                        name="nombre"
                        class="form-control" 
                        placeholder="Nombre de la persona"
                        required
                        minlength="3"
                    >
                    <span 
                        class="form-text text-danger"
                        *ngIf="nombreValido()"
                    >
                        El nombre de la persona debe contener almenos de 3 letras
                    </span>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label fw-bold">Juego:</label>
                <div class="col-sm-10">


                    <div class="input-group">

                        <input
                            type="text"
                            [(ngModel)]="nuevoJuego"
                            name="nuevoJuego"
                            class="form-control" 
                            placeholder="Nombre del juego"
                            required
                            minlength="3"
                            (keyup.enter) = "agregarFavorito()"
                        
                        >
                        <button class="btn btn-outline-primary" type="button" (click)="agregarFavorito()">Agregar</button>
                        <span 
                            class="form-text text-danger"
                            *ngIf="nombreValido()"
                        >
                            El nombre del juego debe contener almenos de 3 letras
                        </span>

                
                    </div>
                    
                    
                </div>
            </div>

            <div class="mb-3 row">
                
                <label class="col-sm-3 col-form-label fw-bold">Favoritos:</label>
                
                <div *ngFor="let favorito of persona.favoritos; let i = index"  class="col-sm-9 input-group p-1">
                
                    <input [ngModel]="favorito.nombre" name="fav_{{i}}" class="form-control">
                    <button class="btn btn-outline-danger" type="button" (click)="borrarFavorito(i)">borrar</button>
                   
                </div>
            </div>


            <div class="row">
                <div class="col">
    
                    <button type="button" [disabled]="miFormularioDinamico.invalid" (click)="guardar()" class="btn btn-primary float-end">Enviar</button>
    
                </div>
            </div>

        </form>

       


    </div>
</div>


